@charset "utf-8";

/*@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html{overflow:auto;}
/*body{background-color:#fff; -webkit-text-size-adjust:none;}*/
body {background-color:#fff; font-family: 'Noto Sans KR', sans-serif;      -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}


body, input, textarea, select, button, table{margin:0; font-size:13px; font-family:'Noto Sans KR', sans-serif; color:#333; font-weight:400;-webkit-font-smoothing: antialiased;}
body, h1, h2, h3, h4, h5, dl, dt, dd, ul, li, ol, th, td, p, /*blockquote,*/ form, fieldset, legend, button { margin: 0; padding: 0; -webkit-font-smoothing: antialiased;}

img, fieldset{border:0 none}
dl, ul, ol, li {list-style: none outside none;}
button{border:0 none; cursor:pointer; display: block;}
table {table-layout:fixed;}
table, th, td, div{border-collapse:separate}

a,img,input {outline:none; selector-dummy:expression(this.hideFocus=true);-webkit-font-smoothing: antialiased;}
.png24 { tmp:expression(setPng24(this));}
area {outline:0;}

li img { vertical-align:top;}
td img { vertical-align:middle}
.cursor { cursor: pointer;}

strong, .strong , b { font-weight: bold; }
address, caption, cite, code, dfn, em, var {font-style:normal;}

hr { clear: both; display: none; }
.blind, legend, caption {display:none !important}

a {text-decoration:none; color:#333;}
a:hover, a:active, a:focus {text-decoration:none;}
/*table a:link, table a:visited {color:#333;}
table a:hover, table a:active {color:#333; text-decoration:underline;}*/

label {position: absolute; left:-9999px; cursor:pointer}
input, select, textarea {vertical-align:middle; font-weight:300;padding-left:5px}
input, textarea, select {border-width:1px; border-style: solid; border-color:#ddd; background:#fff; outline:0;}
/*select{height:35px; box-sizing:border-box; padding:7px;}*/
*select{height:35px; box-sizing:border-box;}
input[type=button] {border-radius:0; -webkit-border-radius:0; appearance:none; -webkit-appearance:none; transition:color 0.2s, background 0.2s;}
input[type=submit] {border-radius:0; -webkit-border-radius:0; appearance:none; -webkit-appearance:none; transition:color 0.2s, background 0.2s;}
input.text {height:35px; box-sizing:border-box; padding:7px; color:#666; border-radius:0; -webkit-border-radius:0; appearance:none; -webkit-appearance:none;}
input.file {height:35px; box-sizing:border-box; padding:7px; border:1px solid #ddd;}
input.check	{border:none; background:none;}
input.radio	{border:0 none; background:none;}
textarea.textarea {height:120px; padding:2px 0;}
.button {border:0 none; cursor:pointer;}

select {    -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;
  background: #fff url('http://vip.julgigo.com/images/select_arrow.gif') no-repeat 96% 50%; /* 화살표 아이콘 추가 */   
padding-right: 8%;padding-left:2%
}
select::-ms-expand {
  display: none;           }


    -webkit-font-smoothing: antialiased;


    -webkit-font-smoothing: antialiased;


    -moz-font-smoothing: unset;


    -moz-osx-font-smoothing: grayscale;


    font-smoothing: antialiased;


    -webkit-backface-visibility: hidden;


    -moz-backface-visibility: hidden;


    backface-visibility: hidden;


    text-rendering: auto;


    text-rendering: optimizeSpeed;


    text-rendering: optimizeLegibility;


    text-rendering: geometricPrecision;


    text-rendering: inherit;

