.header {
  background: #333;
  color: white;
  padding: 1.2vw 11.5vw;
  box-sizing: border-box;
}

.header h1 {
  width: 70px;
  display: inline-block;
  margin-left: 2%;
  margin-top: -9px;
  cursor: pointer
}

.header h1 img {
  width: 100%;
  vertical-align: unset
}

.header a {
  color: white
}

.header #lnb {
  float: right;
  line-height: 73px
}

.header #lnb li {
  float: left;
  margin-right: 15px;
  line-height: 33px;
}

.header #lnb .material-icons {
  font-size: 19px;
  vertical-align: text-bottom
}

.header #gnb {
  width: 14.5%;
  /* margin-top: 10px; 
  border: 1px solid rgb(216, 216, 216);
   margin-left: -10px; */
  position: absolute;
  z-index: 999;
  left:-30%;
  top:0;
  background:#F2EEE7;
  height:100%;
}

.header #lnb li a:hover {
  color: #eee
}

.header #gnb #lnb_mob {
  display: none;
}
.header .gnb_top {
  background:#333;
  /* height:5.3vw; */
  padding:1.2vw;
  box-sizing:border-box;
  text-align: right;
}
.header .gnb_top #btn-gnb_close {
  background:#333;
  display:inline-block
}
.header .gnb_top #btn-gnb_close i {
  color:#eee;
  font-size:37px;
}

.header #gnb .menu {
  font-size: 15px;
  line-height: 55px;
  height: 55px;
  border-bottom: 1px solid #D7CCB8;
  position: relative;
  background: #F2EEE7;
  color: #fff;
}

.header #gnb .menu a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0 20px;
  box-sizing: border-box;
  color: #333;
}

.header #gnb .menu>a:hover {
  background-color: #957741;
  /* color: #f4f4f4 */
}

#gnb .subMenu {
  display: block;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 100%;
}

#gnb .subMenu li {

  background: #D7CCB8;
  border-bottom: none;
}

#gnb .subMenu li:hover {
  background: #957741
}

#gnb .subMenu li a {
  line-height: 40px;
  height: 40px;
}

.header #gnb .subMenu li a {
  color: #333
}
.header #gnb .subMenu li a:hover {
  color:#fff;
}

/*#gnb .subMenu li a {width:100%; height:100%; display: inline-block}*/

#menuToggle {
  display: inline-block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  top: -15px;
  cursor: pointer
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}


#menuToggle span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: #eee;
  border-radius: 3px;
  z-index: 1;
  /* transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease; */
}

/* #menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: translate(1px, -15px) rotate(45deg);
  background: #dabe8a;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: translate(2px, 11px) rotate(-45deg);
}

#menuToggle input:checked~ul {
  transform: none;
} */

/* footer */
.footBottom {
  padding:1.3vw 11.5vw;
}
#p_footer {
  background: #575757;
  color: #eee;
  overflow: hidden;
  text-align: center;
  margin-top: 6%
}

#p_footer a {
  color: #eee
}

.footContent_right {
  padding: 2.2vw;
  box-sizing: border-box;
  width: 23%;
  float: left;
}

.footContent_right .footTitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 18px;
  display: block;
  color: white
}

.footContent_right #footCs {
  font-size: 16px;
  font-weight: 200;
  line-height: 21px;
}

.footContent_right #footCs span {
  font-weight: 500;
  font-size: 19px;
}

.footContent_right #mel {
  font-size: 17px;
  margin-top: 18px;
  display: block;
  font-weight: 300
}

.footContent_right #footBank {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400
}

#p_footer #footLinks {
  padding: 1.3vw 11.5vw;
  border-bottom: 1px solid #bebab7;
  box-sizing: border-box;
}

#p_footer #footLinks::after {
  content: "";
  display: block;
  clear: both;
}

#p_footer #footLinks li {
  float: left;
  padding-right: 3%;
  text-align: center;
}

#p_footer #footLinks a {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px
}

.footContent_left {
  width:54%;
  box-sizing: border-box;
  padding:2%;
  float:left;
}

.footContent_left .footLogo {
  width: 110px;
  float: left;
  margin-right: 30px;
}

.footContent_left .footLogo img {
  width: 100%;
  margin-bottom: 10%
}

.footContent_left address {
  float: left;
  text-align: left;
  font-weight:300;
}

.location {
  color: #6b6b6b;
}

.location .currentLoca {
  color: #333
}

.content {
  padding: 3.2%;
}

.content_txt {
  text-align: center;
}

.content_txt h2 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 15px;
}

.content_txt .content_det {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 60px
}


/* 숙박 목록 페이지 */
.tour_list {
  padding: 0 11.5vw;
  overflow: hidden
}

.tour_list ul li {
  list-style: none;
  width: 45.5%;
  float: left;
  background-color: ;
  margin-bottom: 4.5%
}

.tour_list ul li:nth-child(2n) {
  margin-left: 4.5%;
}

.tour_list ul li .tourList_thumb {
  width: 100%;
  height: 21vw;
}

.tour_list ul li .tourList_thumb img {
  width: 100%;
  object-fit: cover;
  height: 100%
}

.tour_list ul li .tourName {
  font-size: 1.47em;
  line-height: 2.5em;
  font-weight: 500;
  color: #333
}

.tour_list ul li .tourAddr {
  color: #6b6b6b;
  font-size: 1.13em;
  font-weight: 300;
  display: block;
  height: 45px
}

.tour_list ul li .btn_tourView {
  width: 180px;
  height: 45px;
  background: #957741;
  color: #eee;
  font-size: 1.13em;
  font-weight: 400;
  float: right;
}

.btn_tourView {
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
}

.btn_tourView:hover {
  color: #eee;
}

.btn_tourView:before {
  content: "";
  position: absolute;
  background: #333;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  z-index: -1;
  -webkit-transition: right 0.09s ease-in;
}

.btn_tourView:hover:before {
  right: 0;
}
.btn_tourView:focus:before {
  right: 0;
}
/* index */
.indexSlide .bx-wrapper .bx-pager {
  bottom: -20px;
  max-height:750px;
}
.slide_mob {display:none;}
.mainContent:after {
  content: "";
  display: block;
  clear: both;
}

.mainContent h2 {
  padding: 90px 0 30px;
  text-align: center;
  font-size: 2.3em;
  font-weight: 300
}

 .indexSlide {
  padding:0 3.2%;
  z-index: 1;
  max-height:750px;
}

.mainContent .main_Intro {
  padding: 1% 16%;
  background: #eee;
  overflow: hidden;
  text-align: center;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;;
}

.mainContent .main_Intro li {
  width: 22%;
  text-align: center;
  box-sizing: border-box;
  padding:2% 0;
}

.mainContent .main_Intro li span {
  display: block;
  text-align: center
}

.mainContent .main_Intro li .mIntro_title {
  font-size: 2em;
}

.mainContent .main_Intro li img {
  width: 150px;
  padding: 15px 0
}

.mainContent .main_Intro .mIntro_txt {
  font-size: 1.17em;
  font-weight: 400;
  line-height: 1.2em;
  max-height: 50px;
  overflow: hidden;
}

.mainContent .mainEvent {
  text-align: center;
}
.mainContent.mainEventWrap .bx-wrapper .bx-pager {
  bottom:-25px;
}
.mainContent.mainEventWrap .bx-wrapper .bx-pager.bx-default-pager a {
  width:10px;
  height:10px;
}
.mainContent .mainEvent li {
  /* width: 370px;*/
  height: 370px; 
  border: 1px solid #eee;
  display: inline-block;
  border-radius: 30px;
  /* margin-right: 60px; */
  cursor: pointer;
  vertical-align: bottom;
  transition: all 0.3s
}

.mainContent .mainEvent li:last-child {
  margin-right: 0px;
}

.mainContent .mainEvent .eventTit {
  font-size: 1.2em;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.6em;
  /*text-overflow: ellipsis; white-space: nowrap;*/
  overflow: hidden;
  font-weight: 300
}

.mainContent .mainEvent .eventTxt {
  max-height: 55px;
  overflow: hidden;
  padding: 0 30px;
}

.mainContent .mainEvent .eventThumb {
  border-bottom: 1px solid #eee;
  height: 70%;
  overflow: hidden;
}

.mainContent .mainEvent .eventThumb img {
  height: 100%;
  position: relative;
  width:100%;
  object-fit: cover;
}
.mainEventWrap .bx-wrapper .bx-viewport {
  border:0;
}
.mainContent .mainEvent li:hover {
  background: #eee
}

.mobilLink {
  text-align: center;
}

.mobilLink a {
  width: 250px;
  border: 1px solid #eee;
  display: inline-block;
  vertical-align: bottom
}
.mobilLink a:nth-child(2) {
  margin:0 15px;
}

.mobilLink a:last-child {
  margin-right: 0px;
  background: #FAE100
}

.mobilLink a img {
  padding: 15px 0
}

.eventLayer {
  position: fixed;
  top: 50%;
  lefT: 50%;
  margin-top: -360px;
  margin-left: -600px;
  width: 1200px;
  max-height: 640px;
  background: #fff;
  box-shadow: 0 0 0 999px rgb(0, 0, 0, 0.7);
  padding: 45px 30px;
  border-radius: 30px;
  overflow-y: scroll;
  text-align: center;
  z-index:9
}
.eventLayer img {
  width:60%;
  display:block;
  margin:0 auto 10px;
}
.eventLayer #btn-closeEvent {
  font-size: 2.5em;
  position: Absolute;
  top: 10px;
  right: 15px;
  color: #575757
}
.eventLayer .event-link {
  margin-top:10px;
  display:block;
  color:#957741;
  font-weight:bold
}

.eventLayer #btn-closeEvent:hover {
  color: #333
}

.eventLayer .eLayer_tit {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  font-size: 2em
}

.eventLayer .eLayer_txt {
  margin-top: 15px;
  font-weight: 300;
  font-size: 1.2em;
  
}

/* 숙박 뷰 페이지 */
.tour_view {
  min-width: 1200px
}

.tour_view .hotelName {
  font-size: 30px;
  font-weight: 300;
  line-height: 3.3em
}

.tour_view .hotelImg {
  width: 100%;
  height: 750px;
  overflow: hidden
}

.tour_view .hotelImg img {
  height: 100%;
  object-fit: cover
}

.tour_view .bx-wrapper {
  position: relative;
}

.tour_view .bx-wrapper .bx-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50px;
  z-index: 55;
  margin-top: -32px;
}

.bx-controls .bx-next,
.bx-controls .bx-prev {
  display: block;
  width: 30px;
  height: 64px;
  position: absolute;
  font-size: 0px
}

.tour_view .bx-wrapper .bx-controls .bx-prev {
  background: url('http://img.gmidas.com/julgigobaseimg/vip/premium/icons/arrow_fff.png') no-repeat 4%;
  left: 10px;
}

.tour_view .bx-wrapper .bx-controls .bx-next {
  background: url('http://img.gmidas.com/julgigobaseimg/vip/premium/icons/arrow_fff.png') no-repeat 95%;
  right: 10px;
}

#ui-datepicker-div {
  z-index: 99 !important
}

.con_tourView {
  margin-top: 1vw;
  padding: 0 2%;
  clear: both;
}

.con_tourView h4 {
  font-weight: 400;
  font-size: 2.4em;
  line-height: 3em
}

.con_tourView .tourDirection {
  position: relative;
}

.con_tourView .tourDirection #map {
  background: url("../map.png") no-repeat center;
  background-size: cover;
}

.con_tourView .tourDirection .mapOverlay {
  width: 280px;
  height: 240px;
  background: #333;
  color: #fff;
  position: Absolute;
  top: 120px;
  left: 100px;
  box-sizing: border-box;
  padding: 40px
}

.con_tourView .tourDirection .mapOverlay #mapName {
  font-size: 21px;
  margin-bottom: 15px;
}

.con_tourView .tourDirection #map {
  width: 100%;
  height: 500px;
}

.tourDirection .mapOverlay #mapAddr {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300
}

.tourDirection .mapOverlay #mapPhone {
  font-size: 18px;
  font-weight: 300
}


.rmlist_wrap {
  padding: 0 60px;
  position: relative;
  overflow: hidden;
}

.roomList {
  overflow: hidden
}

.roomList ul li {
  border: 1px solid #eee;
  width: 31%;
  margin-right: 3%;
  float: left;
  cursor: pointer;
  transition: 0.15s ease-in;
  -o-transition: 0.15s ease-in;
  -ms-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
}

.roomList ul li:hover {
  background: #eee
}

.roomList ul li:last-child {
  margin-right: 0px
}

.roomList .roomList_thumb {
  width: 100%;
  height: 15.6vw;
}

.roomList .roomList_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.roomList ul:after {
  content: "";
  display: block;
  clear: both;
}

.roomList .roomList_Info {
  padding: 20px 30px;
}

.roomList_Info dl dt,
.roomList_Info dl dd {
  display: inline-block;
  font-size: 1.16em;
  font-weight: 300
}

.roomList .roomList_Info dl dt {
  color: #6b6b6b;
  padding-right: 10px;
}

.roomList .roomList_Info dl dd {
  color: #333;
}

.roomList .roomList_Name {
  font-size: 1.6em;
  padding-bottom: 8px
}

.roomList .roomList_Name dl {
  display: flex;
}

.roomList .roomList_Price {
  font-size: 1.8em;
  display: block;
  text-align: right;
  margin-top: 8px
}

.rmlist_wrap .swiper-button {
  font-size: 0;
}

.rmlist_wrap .swiper-button-prev {
  background: url("http://img.gmidas.com/julgigobaseimg/vip/premium/cal-arrow.png") no-repeat 20%;
  left: 0
}

.rmlist_wrap .swiper-button-next {
  background: url("http://img.gmidas.com/julgigobaseimg/vip/premium/cal-arrow.png") no-repeat 83%;
  right: 0
}

.con_tourView .tourView_txt {
  font-size: 1.2em;
  font-weight: 300
}

.facilList {
  overflow: hidden;
  padding: 0 60px;
}

.facilList ul::after {}

.facilList ul li {
  margin-right: 3%;
  float: left;
  border: 1px solid #eee;
  width: 90%;
  transition: all 0.3s
}

.facilList ul li:hover {
  background: #eee;
}

/*.facilList ul li:last-child {margin-right:0px;}*/
.facilList .facilList_thumb {
  width: 100%;
  height: 15vw;
}

.facilList .facilList_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facilList .facilList_name {
  padding: 20px;
  font-size: 1.16em;
}

.facilList .owl-dots {
  display: none;
}

.facilList .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -33px;
  width: 100%;
}

.sightList {
  overflow:hidden;;
}
.sightList li {
  width: 23%;
  margin-right: 2%;
  float: left;
  position: relative;
  height: 14vw;
  border: 1px solid #eee
}

.sightList li img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.sightList li:last-child {
  margin-right: 0px;
}

.sightList li .sight_dim {
  position: Absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.65);
  color: white;
  text-align: Center;
  line-height: 14vw;
  font-size: 2em;
  font-weight: 300;
}

.tour_Searchbox label {
  position: unset;
  font-size: 1.25em;
  font-weight: 300;
  color: #6b6b6b
}

.tour_Searchbox>div,
.tour_Searchbox button {
  height: 75px;
  line-height: 75px;
  display: inline-block;
}

.tour_Searchbox>div {
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 0 30px;
  margin-right: 0.8%;
}

.tour_Searchbox button {
  font-size: 1.25em;
  background: #957741;
  display: inline-block;
}

.tour_Searchbox #tour_Datepick_web {
  /* width: 44%; */
  display: flex;
  align-items: center;
  justify-content: space-between
}

.tour_Searchbox #tour_Datepick_web #datepicker_in {
  margin-right: 15px;
}

.tour_Searchbox #tour_Datepick_web input {
  line-height: 2.5em;
  cursor: pointer;
  border: none;
  width: 32%;
  text-align: center;
  vertical-align: baseline;
  color: #333;
  font-size: 1.25em;
}

.tour_Searchbox #tour_Datepick_web input::-webkit-input-placeholder {
  color: #333;
}

.tour_Searchbox #tour_Datepick_web input::-ms-input-placeholder {
  color: #333;
}

.tour_Searchbox #tour_Datepick_web input::-moz-input-placeholder {
  color: #333;
}

.tour_Searchbox #tour_Datepick_mob {
  display: none;
}

.tour_Searchbox {
  text-align: center;
  margin-top: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.tour_Searchbox #tour_Coupon {
  width: 37%
}

.tour_Searchbox #tour_Coupon select {
  line-height: 2.5em;
  ;
  cursor: pointer;
  width: 100%;
  border: none;
  color: #333;
  font-size: 1.25em;
  vertical-align: baseline;
  padding: 0px;
  background: #fff url('http://img.gmidas.com/julgigobaseimg/vip/premium/arrow_down.png') no-repeat 99% 50%;
  background-size: 4%;
}

.tour_Searchbox #btn_roomSrch {
  width: 10%
}

.layerWrap {
  position: Absolute;
  top: 0;
  left: 0;
  z-index: 55;
  width: 100%;
  height: 1000%;
  background: rgba(0, 0, 0, .7);
}


.room_layer {
  display: block;
  position: absolute;
  top: 900px;
  left: 50%;
  margin-left: -600px;
  width: 1080px;
  height: 680px;
  overflow: auto;
  background: #fff;
  border: 1px solid black;
  padding: 60px;
  scrollbar-color: #6b6b6b white;
  scrollbar-width: thin;
  cursor: initial;
  /*box-shadow:0 0 0 999px rgb(0,0,0,0.7); -webkit-box-shadow:0 0 0 999px rgb(0,0,0,0.7);*/
  z-index: 99
}

.room_layer::After {
  content: "";
  display: block;
  height: 60px;
  width: 100%;
}

.room_layer::-webkit-scrollbar {
  width: 5px;
}

.room_layer::-webkit-scrollbar-thumb {
  background: #6b6b6b
}


.room_layer .roomSlide {
  width: 820px;
  height: 560px;
  box-sizing: border-box;
  float: left;
  border: 1px solid #eee;
  overflow: hidden;
  margin-right: 30px
}

.room_layer .roomSlide .slides {
  width: 100%;
  height: 100%;
}

.room_layer .roomSlide li {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.room_layer .roomSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room_layer .roomSlide .room_layer .rmLayer_title {
  width: 220px;
  float: right;
  margin-left: 20px;
}

.room_layer .rmLayer_title h5 {
  font-size: 30px;
  font-weight: 300
}

.room_layer .rmLayer_title p {
  margin-top: 15px;
  font-weight: 300;
  font-size: 1.16em
}

.room_layer .rmLayer_info {
  float: right;
  width: 220px;
  margin-top: 300px;
}

.room_layer dl {
  font-size: 1.1em
}

.room_layer dl dt {
  color: #6b6b6b;
  font-weight: 300;
}

.room_layer dl dd {
  color: #333;
  font-weight: 400;
}

.room_layer .rmLayer_info dl {
  display: flex;
  justify-content: space-between
}

.room_layer .rmLayer_info dl dt {}

.room_layer .rmLayer_info dl dd {}

.room_layer .rmLayer_downinfo {
  clear: both;
}

.room_layer .rmLayer_downinfo {
  width: 100%;
  margin-top: 40px;
}

.room_layer .rmLayer_downinfo dd {
  display: inline-block;
}

.room_layer .rmLayer_downinfo dd img {
  width: 45px
}

.room_layer .rmLayer_downinfo dd span {
  display: block;
  margin-top: 10px;
}

.room_layer .rmLayer_downinfo .rmLayer_amens {
  display: flex;
  justify-content: flex-start
}

.room_layer .rmLayer_downinfo .rmLayer_amens dt {
  vertical-align: top;
  line-height: 70px;
  margin-right: 3%
}

.room_layer .rmLayer_downinfo .rmLayer_amens dd {
  text-align: center;
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 12px;
}

.room_layer .rmLayer_downinfo .rmLayer_amens #amens_dd {
  display: inline-block;
}

.room_layer .rmLayer_downinfo #rmLayer_price_web p {
  color: #6b6b6b;
  font-weight: 300;
  font-size: 1.1em;
}

.room_layer .rmLayer_downinfo #rmLayer_price_web table {
  width: 100%;
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  margin-top: 15px;
}

#rmLayer_price_web table th,
#rmLayer_price_web table td {
  line-height: 2.6em;
  text-align: center
}

#rmLayer_price_web table th {
  color: #6b6b6b;
  font-weight: 400;
}

#rmLayer_price_web table td {
  color: #333
}

#rmLayer_price_mob {
  display: none;
}



/*.btn_area {position: relative;}*/
.btn_book {
  position: relative;
  height: 50px;
  width: 220px;
  margin: 0 auto;
  font-size: 1.16em;
  color: #333;
  text-transform: uppercase;
  overflow: hidden;
  background: #957741;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.btn_book:hover {
  color: #eee;
}

.btn_book:before {
  content: "";
  position: absolute;
  background: #333 ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: -1;
  -webkit-transition: bottom 0.09s ease-in;
}

.btn_book:hover:before {
  bottom: 0;
}
.btn_book_empty {
  position: relative;
  height: 50px;
  width: 220px;
  margin: 0 auto;
  font-size: 1.16em;
  color: #333;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid #957741;
  background: #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}


.btn_book_empty:before {
  content: "";
  position: absolute;
  background: #957741 ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: -1;
  -webkit-transition: bottom 0.09s ease-in;
}

.btn_book_empty:hover:before {
  bottom: 0;
}
.btn_close {
  font-size: 38px;
  font-weight: lighter;
  color: #6b6b6b;
  cursor: pointer;
  padding: 0 8px;
}

.btn_close:hover {
  background: #eee
}

.room_layer .btn_close {
  position: absolute;
  right: 0px;
  top: -5px;
}

.payContent {}

.payContent .pay_tit {
  font-size: 1.6em;
  font-weight: 400;
  margin-top: 15px;
}

.payContent .pay_txt {
  border: 1px solid #eee;
  margin: 1.2% 2% 2%;
}

.payContent .pay_dl {
  font-size: 1.6em;
  font-weight: 300;
  padding: 3% 12%;
  line-height: 2.4em;
}

.pay_dl dt,
.pay_dl dd {
  display: inline-block;
  text-align: center;
}

.pay_dl dt {
  width: 35%;
  color: #6b6b6b
}

.pay_dl dd {
  width: 64%;
}

.pay_dl dd input {
  width: 100%;
  height: 3em;
  padding: 0 2%;
  box-sizing:border-box;

}

.pay_txt #termsCons_txt {
  padding: 1.5% 10%;
  font-size: 1.16em;
  font-weight: 300
}

.pay_txt #termsCons_txt span {
  font-weight: 400;
  padding: 15px 0 10px;
  display: block;
}

.termsCons {
  margin-top: 1%
}

.termsCons li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.termsCons li label {
  position: UNSET;
  padding-left: 40px;
  color: #6b6b6b;
  font-weight: 300;
  cursor: pointer;
  z-index: 1;
  font-size: 1.6em;

}

.termsCons .radio_check {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 14px;
  border: 3px solid #6b6b6b;
  border-radius: 100%;
  cursor: pointer;
  z-index: 0;
}

.termsCons .radio_check:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  transition: all 0.25s;
}

.termsCons input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.termsCons input[type="radio"]:checked~.radio_check {
  border: 3px solid #333;
}

.termsCons input[type="radio"]:checked~.radio_check:before {
  background: #333;
}

.termsCons input[type="radio"]:checked~label {
  color: #333;
}



.complete_wrap {
  border: 1px solid #6b6b6b;
  overflow: hidden;
  padding: 3% 13%;
  text-align: center;
}

.check_svg {
  display: inline-block;
}

.check_svg svg {
  margin: 0;
  width: 120px;
}

.completeTxt {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding-top: 3%;
  font-size: 18px
}

.completeDetail {
  width: 60%;
  margin: 4% auto 0
}

.completeDetail dt,
.completeDetail dd {
  display: inline-block;
  width: 49%;
  font-size: 15px;
  line-height: 35px;
  font-weight: 300
}

.completeDetail dt {
  width: 35%;
  color: #6b6b6b
}

.completeDetail dd {
  width: 64%;
  color: #333;
  font-weight: 400
}
.complete_btn {
  text-align: center;
  margin-top:30px;

}
.complete_btn button {
  display: inline-block;
}
.complete_btn button:first-child {margin-right:15px;}


