* {/* -webkit-print-color-adjust: exact; color-adjust: exact; */ margin:0; padding:0;}
body {/* -webkit-print-color-adjust: exact; color-adjust: exact; */ margin:0; padding:0;}
html{overflow:auto;}
body, input, textarea, select, button, table {font-family:'Nanum Gothic', Nanum Gothic, '돋움', Dotum, Helvetica, AppleGothic, Sans-serif; color:#000;}

@media print {
	* {/* -webkit-print-color-adjust:exact; */ margin:0; padding:0;}
	.ContractArea {margin: 0;  border: initial; border-radius: initial; width: initial; min-height: initial; box-shadow: initial; background: none; page-break-after: always;}
}
 
/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

/* IE9, IE10 */
@media screen and (min-width:0\0) {
	
}

@page 
    {
		size:  auto;
        margin: 0mm;
	}

#ContractPopup {width:793px; overflow:hidden; color:#000;}


/* 계약서 인쇄 */
.ContractArea {position:relative; width:100%; min-height:1120px; margin:0; padding:0; background:url('/images/common/contract.jpg') no-repeat 0 0; background-size:100%; font-size:7.5pt; color:#000;}
.ContractArea .Name {position:absolute; top:170px; left:50px; font-weight:400; font-size:10.5pt; line-height:1;}
.ContractArea dl {position:absolute;}
.ContractArea dl dt {display:none;}
.ContractArea dl dd {line-height:1;}
.ContractArea dl dd img {vertical-align:middle;}
.ContractArea dl.info_01 {top:504px; left:125px;}
.ContractArea dl.info_02 {top:504px; left:397px;}
.ContractArea dl.info_03 {top:531px; left:125px;}
.ContractArea dl.info_04 {top:531px; left:397px;}
.ContractArea dl.info_05 {top:559px; left:200px;}
.ContractArea dl.info_05 .month {padding-left:38px;}
.ContractArea dl.info_05 .year2 {padding-left:80px;}
.ContractArea dl.info_05 .month2 {padding-left:52px;}
.ContractArea dl.info_06 {top:587px; left:125px;}
.ContractArea dl.info_07 {top:587px; left:365px;}
.ContractArea dl.info_08 {top:614px; left:125px;}
.ContractArea dl.info_08 dd img {margin-top:-6px;}
.ContractArea dl.info_08 dd.credit_type {position:absolute; left:54px; width:320px;}
.ContractArea dl.info_08 dd.credit_type .credit_name {padding-left:114px;}
.ContractArea dl.info_08 dd.credit_type .instalment {padding-left:84px;}
.ContractArea dl.info_08 dd.instalment {padding-left:46px;}
.ContractArea dl.info_08 dd.ect_type {position:absolute; left:398px; width:175px;}
.ContractArea dl.info_08 dd.ect_type .ect_name {padding-left:42px;}
.ContractArea dl.info_09 {top:642px; left:125px;}
.ContractArea dl.info_10 {top:642px; left:328px;}
.ContractArea dl.info_11 {top:642px; left:496px;}